<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!-- Validators -->
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<!-- Chave Secreta do recaptcha-->
		<add key="Google.ReCaptcha.Secret" value="6Lf9cGAsAAAAANvQLwYWeQw_JHX17aHXRhtiSUYh"/>
		<add key="meu_email" value="177ea5fa4fc2e4"/>
		<add key="password_meu_email" value="15d43a8a5cb5f7"/>
	</appSettings>
	<connectionStrings>
		<add name="sql" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='E:\Aulas\17E\12T\M17E_Intro_12T\M17E_Intro_12T\App_Data\bd_intro_12t.mdf';Integrated Security=True" />
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bd_intro_12t.mdf;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<sessionState timeout="5" cookieName="MeuCookie"></sessionState>
		<compilation debug="true" targetFramework="4.8.1" />
		<!-- Aumentar o tamanho máximo dos ficheiros enviados para o servidor-->
		<httpRuntime maxRequestLength="50000" targetFramework="4.8.1" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>